<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    .dh{
      display: flex;
      justify-content: space-between;
      padding: 0 20px;
    }
    table,tr,td{
      border:1px solid black;
    }
    table{
    width: 1000px;
      border-collapse:collapse;
      height: auto;
    }
    tr{
      height: 35px;
    }
    table td{
      width: 40px ;
      height: 35px;

      text-align: center;
    }
    </style>

</head>
<body>
  <table>
    <tr>
      <td>款号:</td>
      <td colspan="1">客户的箱号或者款号</td>
      <td >箱型：</td>
      <td colspan="1">五层箱</td>
      <td colspan="1">纸箱尺寸：</td>
      <td>600x300x400</td>
      <td>订单数量：</td>
      <td>560</td>
    </tr>
  </table>
</body>
</html>
