<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qiqi.finance.mapper.CustomerDetailMapper">

    <select id="getWarning" resultType="com.qiqi.order.vo.WarningVO">
        SELECT
        *
        FROM
        customer_detail cd
        LEFT JOIN orders o ON cd.order_id = o.id
        where cd.payed &lt; o.money and DATEDIFF(now(),o.delivery_date) &gt; 7
    </select>
</mapper>
