<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qiqi.order.mapper.DeliveryNoteMapper">
    <select id="getList" resultType="com.qiqi.order.vo.DeliveryVO">
         SELECT o.*,d.send_num,d.out_no,d.sign as signs,d.id AS dId,ct.settlement FROM delivery_note d LEFT JOIN orders o ON d.`order_id` = o.id
         left join `customer_detail` ct on o.id = ct.order_id
         where d.is_deleted =0
         <if test="signs == '已回签' ">
            and  d.sign = #{signs}
         </if>
         <if test="signs == '未回签' ">
             and d.sign is null
         </if>
         <if test="name !=null and name != '' ">
            and  o.name like concat('%', #{name} , '%')
         </if>
    </select>
</mapper>
