<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qiqi.endproductwarehouse.mapper.EndProductWarehouseMapper">
    <select id="endList" resultType="com.qiqi.endproductwarehouse.model.EndProductWarehouseDTO">
        select o.*,e.out_no,e.carry_to,e.remark,e.delivery_quantity,e.id as eId,e.posting from end_product_warehouse e left join orders o on e.order_id = o.id
         where e.is_deleted =0
        <if test=" endProductWarehouseDTO.signBackState =='已回签' ">
            and  o.sign = #{endProductWarehouseDTO.signBackState}
        </if>
        <if test=" endProductWarehouseDTO.signBackState =='未回签' ">
            and  o.sign is null
        </if>
        <if test=" endProductWarehouseDTO.outNo != null and endProductWarehouseDTO.outNo != '' ">
            and  e.out_no = #{endProductWarehouseDTO.outNo}
        </if>
        <if test=" endProductWarehouseDTO.deliveryman != null and endProductWarehouseDTO.deliveryman != '' ">
            and  e.created_by = #{endProductWarehouseDTO.deliveryman}
        </if>
        <if test=" endProductWarehouseDTO.note != null and endProductWarehouseDTO.note != '' ">
            and  e.remark = #{endProductWarehouseDTO.note}
        </if>
    </select>
</mapper>
