<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qiqi.order.mapper.OrderMapper">
    <select id="getList" resultType="com.qiqi.admin.purchase.model.PurchaseOrderVO">
SELECT o.*,p.documents_no,p.purchaseQuantity,p.cost_price,p.amount,p.id as pid,p.end_product_pos,p.position,
p.supplier_id,p.billingDate as pBilling,p.return_num  from  orders o left join purchase_order p on o.no = p.task_number
        where o.is_deleted =0
        <if test=" customerName != null and customerName != '' ">
            and  o.name like concat('%', #{customerName} , '%')
        </if>
        <if test="quantityOverdue == '已过期'  ">
            and  o.delivery_date &lt;  #{date}
        </if>
        <if test="quantityOverdue == '未过期'  ">
            and  o.delivery_date &gt;= #{date}
        </if>
        <if test="time != null and time != ''  ">
            and  o.created_time like concat('%', #{time} , '%')
        </if>
    </select>

    <select id="getTotal" resultType="com.qiqi.order.vo.TotalVO">
        select DATE_FORMAT(`delivery_date`,"%Y-%m") as myDate,sum(money)
        from orders o
        where o.is_deleted = 0
        <if test="startDate != null and endDate != null">
            and DATE_FORMAT(`delivery_date`,"%Y-%m") between #{startDate} and #{endDate}
        </if>
        <if test="customerId != null">
            and customerId = #{customerId}
        </if>
        GROUP BY DATE_FORMAT(`delivery_date`,"%Y-%m")
    </select>
    <select id="listOrder" resultType="com.qiqi.order.vo.OrderFinanceVO">
        SELECT
            o.`customer_id`,
            c.`full_name` AS `name`,
            SUM(o.`money`) AS `money`,
            SUM(o.`begin_receive`) AS `begin`,
            DATE_FORMAT(o.`delivery_date`,'%Y-%m') AS `date`
        FROM `orders` o
            INNER JOIN `customer_information` c ON c.`id`=o.`customer_id`
        WHERE o.`is_deleted`=0
            <if test="ids!=null and ids.size()>0">
                AND o.`customer_id` in
                <foreach collection="ids" item="id" open="(" separator="," close=")">
                    #{id}
                </foreach>
            </if>
            <if test="time!=null and time!='' and time!=null and time!=''">
                AND o.`delivery_date` BETWEEN #{time} AND #{date}
            </if>
        GROUP BY o.`customer_id`,DATE_FORMAT(o.`delivery_date`,'%Y%m')
    </select>
    <select id="getPage" resultType="java.lang.Long">
        SELECT
            `customer_id`
        FROM `orders`
        WHERE `is_deleted`=0
        <if test="time!=null and time!='' and date!=null and date!=''">
            AND `delivery_date` BETWEEN #{time} AND #{date}
        </if>
        GROUP BY `customer_id`
    </select>
    <select id="listTotalOrder" resultType="com.qiqi.order.vo.OrderFinanceVO">
        SELECT
        SUM(o.`money`) AS `money`,
        DATE_FORMAT(o.`delivery_date`,'%Y-%m') AS `date`
        FROM `orders` o
        INNER JOIN `customer_information` c ON c.`id`=o.`customer_id`
        WHERE o.`is_deleted`=0
        <if test="ids!=null and ids.size()>0">
            AND o.`customer_id` in
            <foreach collection="ids" item="id" open="(" separator="," close=")">
                #{id}
            </foreach>
        </if>
        <if test="time!=null and time!='' and time!=null and time!=''">
            AND o.`delivery_date` BETWEEN #{time} AND #{date}
        </if>
        GROUP BY DATE_FORMAT(o.`delivery_date`,'%Y%m')
    </select>


</mapper>
