<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qiqi.basicdata.mapper.SupplierCardboardQuotationMapper">

    <select id="findList" resultType="com.qiqi.admin.basicdata.model.SupplierCardboardQuotationVO">
        select s.*,scq.quotation_unit,scq.id as scqId,scq.preferential_setting,scq.total_price,scq.cardboard_quotation,
        pds.ridgeType,pds.`name` from  supplier s
        left join supplier_cardboard_quotation scq on s.id =scq.supplier_id
        left join paperboard_data_setting pds on scq.pager_Id = pds.id
        where s.is_deleted =0
            <if test=" code != null and code != '' ">
                and  scq.code like concat('%', #{code} , '%')
            </if>
            <if test="abbreviation != null and abbreviation != ''  ">
                and  scq.abbreviation like concat('%', #{abbreviation} , '%')
            </if>
            <if test="time != null and time != '' ">
                and  scq.created_time like concat('%', #{time} , '%')
            </if>

    </select>

    <delete id="dropById">
        delete from supplier_cardboard_quotation where id = #{id}
    </delete>
</mapper>
